@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:wght@400;700&display=swap");
html,
body {
  margin: auto;
  display: block;
  font-family: "Poppins", sans-serif;
}
.bground {
  background-image: url(../img/sfondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  box-sizing: border-box;
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 1200px;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(2, 70, 106, 1) 8%,
    rgba(0, 155, 191, 1) 100%
  );
  margin: 10px auto;
  padding: 15px 10px;
  width: 90%;
  max-width: 400px;
  color: white;
  box-shadow: 0px 13px 12px 11px rgba(0, 0, 0, 0.1);
  text-align: center;
}

nav img {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
}

nav h1 {
  font-size: 18px;
  margin: 10px 0;
}

.links {
  margin-top: 10px;
}

.links a {
  display: block;
  margin: 5px 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 5px 0;
}

.wrap {
  margin-block: 20px;
  background-color: white;
  padding-block: 30px;
  padding-inline: 20px;
  font-size: 22px;
  line-height: 1.5;
  box-shadow: 0px 13px 14px 11px rgba(0, 0, 0, 0.1);
}

.wrap h2 span {
  font-size: 28px;
  font-weight: 500;
}

figcaption {
  margin-block: 25px;
  margin-inline: 10px;
  color: rgb(173, 172, 172);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table caption {
  font-weight: 600;
  font-style: italic;
}

tr th {
  background-color: blue;
  color: white;
}

td,
th {
  font-size: 14px;
}

.table-container {
  overflow-x: auto;
  margin-block: 20px;
}

footer {
  background: linear-gradient(
    0deg,
    rgba(2, 70, 106, 1) 8%,
    rgba(0, 155, 191, 1) 100%
  );
  width: 90%;
  max-width: 450px;
  margin: 20px auto;
  padding: 15px;
  color: white;
  text-align: center;
}

footer p {
  padding-top: 10px;
  font-size: 14px;
}

.purple {
  color: purple;
  font-weight: 600;
}

#sudd {
  margin-block: 20px;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
}

ul li:last-child {
  margin-bottom: 30px;
}

.hfm {
  border: 1px solid rgb(97, 97, 97);
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
}

ol {
  margin-block: 30px;
}

ol li {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 30px;
}

iframe {
  border-radius: 20px;
}

.novita,
.articles p {
  margin-block: 30px;
  padding: 20px;
  background-color: rgb(235, 235, 235);
}

.novita h2,
h3 {
  text-align: center;
  color: rgb(61, 61, 61);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.iscrizione {
  margin-top: 20px;
  margin-inline: 10px;
  width: calc(100% - 20px);
  height: 35px;
  border: hidden;
  border-bottom: 1px dashed;
  font-size: 16px;
}

.bottone {
  background-color: rgb(93, 120, 240);
  border-radius: 0;
  width: 100px;
  padding: 5px 0;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
}

.articles p {
  border: 2px solid rgb(201, 200, 200);
}

.articles a {
  font-weight: 600;
}

.dates {
  font-size: 14px;
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
  }

  nav img {
    width: 70%;
  }

  main {
    padding: 10px;
  }

  .wrap {
    padding: 20px 10px;
    font-size: 18px;
  }

  footer {
    padding: 10px;
    max-width: 100%;
  }

  .novita,
  .articles p {
    margin: 20px 0;
  }

  .dates {
    padding-left: 0;
  }

  .iscrizione {
    width: 100%;
  }

  .bottone {
    width: 100%;
  }
}

@media (max-width: 480px) {
  nav h1 {
    font-size: 16px;
  }

  .wrap h2 span {
    font-size: 20px;
  }

  .iscrizione {
    width: 100%;
    margin: 10px 0;
  }

  .bottone {
    margin: 10px 0 0;
  }

  .dates {
    font-size: 12px;
  }

  table {
    font-size: 12px;
  }

  nav img {
    max-width: 150px;
  }
  footer p {
    font-size: 12px;
  }
  footer {
    padding: 10px;
    max-width: 100%;
  }
}

@media print {
  iframe {
    display: none;
  }
}
